@use "../global_ui" as g;

.button {
    height: 28px;
    padding: 5px 10px;
    background: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 0 #5e5e5e;
    font-weight: bold;
    color: #a1a1a1;
    &:hover {
        box-shadow: 0 0 5px 0 #808080;
    }
    &:active {
        box-shadow: 0 0 1px 0 #5e5e5e;
    }
    &:disabled, {
        box-shadow: inset 0 0 5px 0 #5e5e5e;
        color: rgba(75, 75, 75, 0.39);
        font-size: 13px;
        &:hover, :active {
            box-shadow: inset 0 0 5px 0 #5e5e5e;
            color: rgba(75, 75, 75, 0.39);
            font-size: 13px;
        }
    }
    &-fullWidth {
        width: 100%;
    }
    //&-active {
    //    box-shadow: inset 0 0 5px 0 #5e5e5e;
    //}
    &-color {
        &_red {
            background-color: g.$red-color;
            box-shadow: 0 0 2px 0 g.$red-color-shadow;
            &:hover {
                box-shadow: 0 0 5px 0 g.$red-color-shadow;
            }
            &:active {
                box-shadow: 0 0 2px 0 g.$red-color-shadow;
            }
        }
        &_green {
            background-color: g.$green-color;
            box-shadow: 0 0 2px 0 g.$green-color-shadow;
            &:hover {
                box-shadow: 0 0 5px 0 g.$green-color-shadow;
            }
            &:active {
                box-shadow: 0 0 2px 0 g.$green-color-shadow;
            }
        }
        &_blue {
            background-color: g.$blue-color;
            box-shadow: 0 0 2px 0 g.$blue-color-shadow;
            &:hover {
                box-shadow: 0 0 5px 0 g.$blue-color-shadow;
            }
            &:active {
                box-shadow: 0 0 2px 0 g.$blue-color-shadow;
            }
        }
    }
}

