$red-color: rgba(255, 106, 106, 0.18);
$green-color: rgba(140, 199, 54, 0.18);
$blue-color: rgba(69, 155, 225, 0.18);

$red-color-shadow: rgb(255, 106, 106);
$green-color-shadow: rgb(140, 203, 56);
$blue-color-shadow: rgb(12, 113, 196);