.profileInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  &_title {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #cbc9c9;
    gap: 20px;
  }
  &_item {
    font-size: 14px;
    display: flex;
    gap: 5px;
  }
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #464646;;
}